@model IEnumerable<Blog.Post>

@{
    ViewBag.Title = "Index";
}

<div id="body" class="container">
    <div class="row">
        <div class="col-md-12">

            @*<p>The .table-striped class adds zebra-stripes to a table:</p>
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>*@

            @foreach (var item in Model)
            {

                <article>
                    <h2>@Html.ActionLink(@item.Tittle, "Details", new { id = item.PostId })</h2>
                    <div class="row">
                            <div class="group1 col-md-6">
                                <span class="glyphicon glyphicon-user"></span> @item.User
                                <span class="glyphicon glyphicon-time"></span> @item.CreatedDate
                            </div>
                        </div>
                        <br />
                        <p class="test">@item.Content.Substring(0,100)</p>
                        <br />
                        <p class="text-right">
                            <a class="text-right">@Html.ActionLink("Continue reading...", "Details", new { id = item.PostId })</a>
                        </p>
                        <hr>
                </article>

            }

        </div>



    </div>
</div>


@*<table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Tittle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tittle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                </td>
            </tr>
        }

    </table>*@
