@model Blog.Models.UserCreatedPost

@{
    ViewBag.Title = "Details";
}

<div id="body" class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="group1 col-md-8">
                    <h2>@Model.Tittle</h2>

                    @Html.ActionLink("Sua bai viet", "Edit", @Model.PostId)
                    <br />
                    <br />
                    <span class="glyphicon glyphicon-user"></span> @Model.UserName &emsp;
                    <span class="glyphicon glyphicon-time"></span> @Model.CreatedDate.ToString("dd/MM/yyyy")
                    
                </div>
            </div>
            <br />
            <p class="test">@Model.Content</p>

            <hr>  
            

            <h4>Leave a comment </h4>
            <ul>@Html.Action("ViewComment")</ul>
                                    

            

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
