@model Blog.Models.UserCreatedPost

@{
    ViewBag.Title = "Details";
}

<div id="body" class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="group1 col-md-8">
                    <h2>@Model.Tittle</h2>

                    @Html.ActionLink("Sua bai viet", "Edit", @Model.PostId)
                    <br />
                    <br />
                    <span class="glyphicon glyphicon-user"></span> @Model.UserName &emsp;
                    <span class="glyphicon glyphicon-time"></span> @Model.CreatedDate.ToString("dd/MM/yyyy")

                </div>
            </div>
            <br />
            <p class="test">@Model.Content</p>

            <hr> 

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>


<h4>Leave a comment </h4>
@*<ul>@Html.Action("ViewComment")</ul>*@
<div class="well">
    <form role="form" class="clearfix">
        <div class="col-md-6 form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>

        <div class="col-md-6 form-group">
            <label class="sr-only" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>

        <div class="col-md-12 form-group">
            <label class="sr-only" for="email">Comment</label>
            <textarea class="form-control" id="comment" placeholder="Comment"></textarea>
        </div>

        <div class="col-md-12 form-group text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript">

    $('.btn.btn-primary').click(function () {

        var a = $('ul#comments').append('<li class ="comment clearfix" id="li1"> <div class ="clearfix"><h4>' + $('input#name').val() + '</h4></div></li>');

        var dt = new Date();
        var time = dt.getDate() + '/' + dt.getMonth() + '/' + dt.getFullYear() + ': ' + dt.getHours() + ":" + dt.getMinutes();

        var datetime = $(a).append('<p class ="pull-right">' + time + '</p>');

        var contentofcomment = $(a).append('<p><em>' + $('textarea#comment').val() + '</em></p>');

    });
</script>







